@import url('https://fonts.googleapis.com/css?family=Hind|Poppins');

.app {
  font-family: 'Hind', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Arial, sans-serif;
}

.hidden {
  display: none;
}

.app-header {
  background-color: #566DFB;
  height: 60px;
  padding: 20px;
  color: #3d464d;
}

.app-body {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

li {
  list-style: none;
}

.search-box {
  font-size: 20px;
  height: 40px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.facet-list {
  min-width: 215px;
}

.facet-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0% 10%;
}

.facet-list h3 {
  padding-left: 11%;
}

.facet-item {
  width: 50%;
}

.facet-item input {
  cursor: pointer;
  margin-right: 5px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.search-item {
  border-radius: 1%;
  padding: 1%;
  margin: 2% 5%;
  max-width: 450px;
  border: 1px grey solid;
  width: 100%;
  position: relative;
}

.search-item h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.search-item a {
  color: #566DFB;
  text-decoration: none;
}

.item-image {
  display: block;
  margin: auto;
  width: 100%;
}

.item-title, .item-rank {
  text-align: center;
}

button {
  color: #566DFB; 
  background: transparent; 
  border: 2px solid #566DFB;
  border-radius: 6px; 
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #566DFB;
  color: white;
}

button:focus {
  outline: 0;
}

.order-button {
  width: 80%;
}

.open-modal-button {
  width: 80%;
  margin-top: 7px;
}

.add-app-button, .delete-app-button {
  font-size: 14px;
  height: 25px;
  margin-top: 15px;
  width: 35%
}

.delete-app-button {
  border: 2px solid #dc3545;
  color: #dc3545;
  width: 45%
}

.delete-app-button:hover {
  background-color: #dc3545;
  color: white;
}

.fa-trash-alt {
  color: #dc3545;
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.create-app-modal .modal-content {
  height: 390px;
}

.delete-app-modal .modal-content {
  height: 300px;
}

.modal .modal-content .input-row input {
    font-size: 16px;
    height: 25px;
    margin: 7px 0px;
    text-align: center;
    width: 50%;
}

.modal .close {
  color: #aaaaaa;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

@media(min-width:576px) {
  .app-body {
    flex-direction: row;
  }

  .delete-app-button {
    max-width: 200px;
    width: 35%
  }

  .delete-app-modal .modal-content {
    height: 160px;
    width: 80%;
  }

  .facet-list ul {
    flex-direction: row;
    flex-wrap: no-wrap;
    max-width: 215px;
  }

  .facet-list h3 {
    padding-left: 25px;
  }

  .facet-item {
    width: 100%;
  }

  .search-box {
    padding-left: 15px;
    height: 40px;
    width: 75%;
  }

  .search-item {
    margin: 1% 1%;
    width: 45%;
  }
}
